html,
body {
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(100, 23, 55);
	z-index: 0;
}

#game-menu {
	position: absolute;
	width: 40%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: blanchedalmond;
	z-index: 1;
}

#game-console {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 2;
}
